<p>
  <strong>Title:</strong>
  <%= @idea.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @idea.description %>
</p>

<p>
  <strong>User:</strong>
  <%= @idea.user.email %>
</p>

<p>
  <strong>Votes:</strong>
  <%= pluralize @idea.votes, "vote" %>
</p>

<div>
 <!-- % if current_user && current_user.can_vote_for?(@idea) % -->

  <%= form_tag(vote_idea_path(@idea)) do %>
    <div style="width: 10%">
      <%= number_field_tag :voting_score, @idea_vote.value, in: 0..3 %>
    </div>
    <%= submit_tag "Rate" %>
  <% end %>
</div>

<br>

<p>
  <% if current_user && @idea.user.can_edit?(current_user) %>
    <%= link_to 'Edit', edit_idea_path(@idea) %> |
  <% end %>
  <%= link_to 'Back', ideas_path %>
</p>