<p>
  <strong>Title:</strong>
  <%= @idea.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @idea.description %>
</p>

<p>
  <strong>User:</strong>
  <%= @idea.user.email %>
</p>

<p>
  <strong>Votes:</strong>
  <%= pluralize @idea.votes, "vote" %>
</p>

<div class='field'>

    <input type="text" id="voting_score" />
    <%= link_to 'Rate', vote_idea_path(@idea), method: "post" %>
  
</div>

<p>
  <%= link_to 'Edit', edit_idea_path(@idea) %> |
  <%= link_to 'Back', ideas_path %>
</p>